<h1 style="font-weight: lighter;text-align: center;">Dashboard</h1>
<br>
<br>

<div class="asset-wrapper">
    <div class="a-card" style="background-color: #343A40;">
        <h1>22</h1>
        <p class="lead">total assets</p>
    </div>
    <div class="a-card" style="background-color: #3E444A;">
        <h1>8,499</h1>
        <p class="lead">total licences</p>
    </div>
    <div class="a-card" style="background-color: #343A40;">
        <h1>81</h1>
        <p class="lead">total accessories</p>
    </div>
    <div class="a-card" style="background-color: #3E444A;">
        <h1>26</h1>
        <p class="lead">total consumables</p>
    </div>
</div>